@font-face {
  font-family: 'Alentine';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Alentine.ttf);
}
@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/HelveticaNeue.ttc);
}
@font-face {
  font-family: 'Mojito';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MojitoWeb.ttf);
}
@font-face {
  font-family: 'Palatino';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Palatino.ttc);
}
@font-face {
  font-family: 'Rounds';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Rounds.otf);
}
